@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
  font-family: 'Overpass', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardContainer{
  background-color: hsl(213, 19%, 18%);
  padding: 15px;
  width: 360px;
  margin: auto;
  border-radius: 15px;
  color: white;
}